@charset "UTF-8";
/* kameo */
.g-wrap .page-title-wrap {
	gap: 2.4rem;
	margin-bottom: 4.8rem;
}
.g-wrap .g-info-box {
	position: relative;
	background-color: #eef2f7;
	padding: 2.4rem;
	border-radius: 1.2rem;
	font-size: 1.9rem;
}
.g-wrap .sec-tit {
	margin-bottom: 2.4rem;
	font-size: 3.2rem;
}
.g-wrap .sec-tit .badge-text {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 2.2rem;
}
.g-wrap .sec-tit .badge-text::before {
	content: '';
	display: inline-flex;
	margin-inline: var(--krds-gap-4);
	width: .1rem;
	height: var(--krds-size-height-4);
	background-color: var(--krds-light-color-divider-gray-light);
}

.g-wrap .g-conts + .g-conts {
	margin-top: 6rem;
}
.g-wrap .g-conts-area + .g-conts-area {
	margin-top: 4rem;
}
.g-wrap .g-conts-area .con-tit {
	margin-bottom: 2.4rem;
	font-size: 2.4rem;
	font-weight: bold;
}
.g-wrap .g-conts .g-example-box {
	border: var(--krds-light-border-width-variable-regular) solid var(--krds-light-color-border-gray) ;
	border-radius: var(--krds-radius-xlarge2);
	padding: 5.6rem 4.6rem 5.5rem;
	overflow-y: hidden;
	overflow-x: auto;
}
.g-wrap .g-conts .g-sample-view {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	gap: 1.6rem;
}
@media (max-width: 767px) {
	.g-wrap .g-conts .g-example-box {
			padding: 2.4rem;
	}
}
