@charset "UTF-8";

/* krds color 변경 */
:root {
	--krds-color-light-primary-5: #eef2f7;
	--krds-color-light-primary-10: #d6e0eb;
	--krds-color-light-primary-20: #bacbde;
	--krds-color-light-primary-30: #90b0d5;
	--krds-color-light-primary-40: #6b96c7;
	--krds-color-light-primary-50: #346fb2;
	--krds-color-light-primary-60: #1c589c;
	--krds-color-light-primary-70: #063a74;
	--krds-color-light-primary-80: #052b57;
	--krds-color-light-primary-90: #031f3f;
	--krds-color-light-primary-95: #02162c;

	--krds-color-light-secondary-5: #ecf2fe;
	--krds-color-light-secondary-10: #d8e5fd;
	--krds-color-light-secondary-20: #b1cefb;
	--krds-color-light-secondary-30: #86aff9;
	--krds-color-light-secondary-40: #4c87f6;
	--krds-color-light-secondary-50: #256ef4;
	--krds-color-light-secondary-60: #0b50d0;
	--krds-color-light-secondary-70: #083891;
	--krds-color-light-secondary-80: #052561;
	--krds-color-light-secondary-90: #03163a;
	--krds-color-light-secondary-95: #020f27;

	/* text */
	--krds-light-color-text-primary: var(--krds-color-light-primary-80);
	/* --krds-light-color-text-secondary: var(--krds-color-light-secondary-60); */ /* #0B50D0 임시 */

	--krds-light-color-link-default: var(--krds-color-light-primary-70);
	--krds-light-color-link-hover: var(--krds-color-light-primary-80);
	--krds-light-color-link-pressed: var(--krds-color-light-primary-90);
	--krds-light-color-link-visited: #5917b8;

	/* button */
	--krds-light-color-button-disabled-border: var(--krds-color-light-gray-20);
	--krds-light-color-button-primary-fill: var(--krds-color-light-primary-70);
	--krds-light-color-button-primary-fill-hover: var(--krds-color-light-primary-80);
	--krds-light-color-button-primary-fill-pressed: var(--krds-color-light-primary-90);
	--krds-light-color-button-secondary-border: var(--krds-color-light-primary-70);
	--krds-light-color-button-text-fill-pressed: var(--krds-color-light-primary-10);

	--krds-light-color-element-primary: var(--krds-color-light-primary-70);
	--krds-light-color-border-primary: var(--krds-color-light-primary-70);
	--krds-light-color-icon-primary: var(--krds-color-light-primary-70);

	--krds-light-color-action-secondary-active: var(--krds-color-light-primary-70);

	/* 아래 항목 70으로 수정 예정 */
	/* 
	--krds-light-color-divider-primary: var(--krds-color-light-primary-50);
	--krds-light-color-icon-primary-static: var(--krds-color-light-primary-50);
	--krds-light-color-action-primary-active: var(--krds-color-light-primary-50);
	--krds-light-color-graphic-brand: var(--krds-color-light-primary-50); 
	*/
	
	/* --krds-light-color-text-subtle: var(--krds-color-light-gray-90); */
	--krds-light-color-input-border-active: var(--krds-color-light-primary-70);

	/* 아래 항목 90으로 수정 예정 */
	/*

	*/
}

body {
	font-family: "Pretendard GOV", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.text-center {
	text-align: center !important;
}

#krds-header .header-container .logo a {
	background-image: url(../img/common/logo.png);
}
/* my drop menu */
.krds-drop-wrap.my-drop .drop-menu {
	width: 21rem;
}
.krds-drop-wrap.my-drop .my-name {
	margin-bottom: var(--krds-gap-3);
	font-size: var(--krds-pc-font-size-body-large);
	font-weight: var(--krds-font-weight-bold);
}
.krds-drop-wrap.my-drop .my-time {
	font-size: var(--krds-pc-font-size-body-small);
}
.krds-drop-wrap.my-drop .my-time dt {
	margin-bottom: var(--krds-gap-2);
	color: var(--krds-light-color-text-subtle);
}
.krds-drop-wrap.my-drop .my-time dd {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--krds-gap-3);
}
.krds-drop-wrap.my-drop .my-time .time {
	display: inline-flex;
	align-items: center;
	justify-self: flex-start;
	gap: var(--krds-gap-1);	
	color: var(--krds-light-color-text-primary);
}
.krds-drop-wrap.my-drop .my-time .time::before {
	content: '';
	display: inline-flex;
	width: var(--krds-icon--size-small);
	height: var(--krds-icon--size-small);
	background: no-repeat url(../img/common/icon/ico_time_16.svg) center / contain;
}

/* form */
.krds-form-check input[type=checkbox]~label, 
.krds-form-check input[type=radio]~label {
	color: var(--krds-light-color-text-bolder);
}
.krds-form-check input[type=checkbox]:disabled~.krds-form-check-cnt > .krds-form-check-p, 
.krds-form-check input[type=radio]:disabled~.krds-form-check-cnt > .krds-form-check-p {
	color: var(--krds-form-check--color-text-sub-disabled);
}
.form-group .form-label, .form-group .form-tit {
	font-size: var(--krds-pc-font-size-label-small);
}
.krds-form-select:focus {
	border-color: var(--krds-form-select--color-border-active);
}
.krds-form-select.is-error {
	color: #464C53;
	border-color: var(--krds-color-light-danger-50);
}
.krds-form-select[disabled] {
	background-image: url(../img/component/icon/ico_angle.svg);
}
.krds-tag-wrap .krds-btn-tag:hover {
	border-color: var(--krds-btn-tag--color-action-hover);
}
.krds-tag-wrap .krds-btn-tag:active {
	border-color: var(--krds-btn-tag--color-action-pressed);
}
.krds-form-toggle-switch [type=checkbox]:disabled~label {
	color: var(--krds-light-color-text-disabled);
}

/* step indicator & spinners */
.krds-step-wrap {
	--krds-step--border-width-medium: .16rem;
}
.krds-step-wrap>li.active>span::before {
	border-width: .3rem;
}
.krds-step-wrap.fixed li {
	max-width: 10rem;
}
/* spinner */
.krds-spinner.medium::before {
	width: 3.2rem;
	height: 3.2rem;
	border-width: .3rem;
}
.krds-spinner.large::before {
	width: 4.8rem;
	height: 4.8rem;
	border-width: .4rem;
}
/* contextual-help & tooltip */
.krds-contextual-help .tooltip-action .tooltip-btn .ico-tooltip,
.krds-contextual-help .tooltip-popover .krds-btn.icon .svg-icon {
	background-color: var(--krds-light-color-icon-gray);
}
.krds-btn.krds-tooltip:hover {
    background-color: var(--krds-light-color-action-secondary-hover);
}
.krds-btn.krds-tooltip:active {
    background-color: var(--krds-light-color-action-secondary-pressed);
}
/* Critical alerts & Disclosure */
.krds-critical-alerts .critical-txt {
	color: var(--krds-color-light-gray-95);
}
.krds-disclosure {
	--krds-disclosure--expand-margin-top: .8rem;
}
.krds-disclosure .btn-conts-expand::before {
	background-color: var(--krds-light-color-icon-gray);	
}
.krds-disclosure .expand-wrap .expand-in {
	background-color: initial;
	padding: initial;
}

/* badge */
.krds-badge {
	--krds-badge--color-secondary-text: var(--krds-color-light-secondary-60);
}
.krds-badge.outline-secondary {
	border-color: var(--krds-color-light-secondary-50);
}
.krds-badge.outline-gray {
	border-color: var(--krds-color-light-gray-60);
}
.krds-badge.outline-point {
	border-color: var(--krds-badge--color-point-element);
}
.krds-badge.outline-danger {
	border-color: var(--krds-badge--color-danger-element);
}
.krds-badge.outline-warning {
	border-color: var(--krds-color-light-warning-50);
}
.krds-badge.outline-success {
	border-color: var(--krds-badge--color-success-element);
}
.krds-badge.outline-information {
	border-color: var(--krds-badge--color-information-element);
}
.krds-badge.outline-disabled {
	border-color: var(--krds-badge--color-disabled-element);
}
.krds-badge.bg-secondary {
	background-color: var(--krds-color-light-secondary-50);
}
.krds-badge.bg-disabled {
	color: var(--krds-badge--color-disabled-text);
	background-color : var(--krds-badge--color-disabled-element-lighter);
}

/* accordion */
.krds-accordion {
	--krds-accordion--button-color-text-open: var(--krds-light-color-text-primary);
	border: none;
}
.krds-accordion .accordion-item .btn-accordion {
	--krds-accordion--button-pc-font-size: var(--krds-pc-font-size-heading-small);
	--krds-accordion--button-mobile-font-size: var(--krds-mobile-font-size-heading-small);
}
.krds-accordion.medium .accordion-item .btn-accordion {
	padding: 2rem 5.6rem 2rem 1.6rem;
	--krds-accordion--button-pc-font-size: var(--krds-pc-font-size-heading-xsmall);
	--krds-accordion--button-mobile-font-size: var(--krds-mobile-font-size-heading-xsmall);
}
.krds-accordion.type-line .accordion-item .btn-accordion {
	padding: 2rem 4rem 2rem 0;
}
.krds-accordion.type-line.medium .accordion-item .btn-accordion {
	padding: 1.2rem 4rem 1.2rem 0;
}
.krds-accordion .accordion-item .btn-accordion::after {
	top: 0 !important;
	bottom: 0;
	margin: auto;
}
.krds-accordion .acc-conts-area {
	padding: 2rem 1rem;
	background-color: #fff;
}
.krds-accordion.type-line .acc-conts-area {
	background-color: #E6E8EA;
}
/* swiper */
[class^=swiper-button-]::after {
	background-color: var(--krds-light-color-icon-gray);
}
/* 확인 필요 */
.swiper-pagination.swiper-pagination-fraction .swiper-pagination-current {
	color: var(--krds-color-light-secondary-60);
}
/* Calendar */
.krds-calendar-area {
	--krds-calendar--head-pc-font-size: var(--krds-pc-font-size-heading-small);
	--krds-calendar--head-btn-cal-switch-color-action-hover: var(--krds-light-color-action-primary-hover);
	--krds-calendar--head-btn-cal-switch-color-action-active: var(--krds-light-color-action-primary-pressed);
}
.krds-calendar-area .calendar-wrap .calendar-head .btn-cal-move {
	background-color: initial;	
}
.krds-calendar-area .calendar-wrap .calendar-head .btn-cal-move::before {
	background-color: var(--krds-light-color-icon-gray);
}
/* .krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.period.end>.btn-set-date, 
.krds-calendar-area .calendar-wrap .calendar-body .calendar-table-wrap .calendar-tbl td.period.start>.btn-set-date {

} */
 /* modal */
 .krds-modal .modal-dialog.modal-sm .modal-btn {
	 padding-bottom: 2.4rem;
 }

/* page top button */
.page-top-button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: fixed;
	right: 4rem;
	bottom: 6.4rem;
	width: var(--krds-size-height-8);
	height: var(--krds-size-height-8);
	border: 0.1rem solid var(--krds-light-color-border-gray-light);
	border-radius: var(--krds-radius-medium3);
	background-color: var(--krds-light-color-action-white);
	box-shadow: 0px 0px 2px 0px var(--krds-light-color-alpha-shadow1), 0px 4px 8px 0px var(--krds-light-color-alpha-shadow2);
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}
.page-top-button:hover {
	background-color: var(--krds-light-color-action-secondary-hover);
}
.page-top-button:focus {
	background-color: var(--krds-light-color-action-secondary-pressed);
}
.page-top-button.active {
	visibility: visible;
	opacity: 1;
	z-index: 60;
}
.page-top-button.type-txt {
	width: var(--krds-size-height-9);
	height: var(--krds-size-height-9);
	font-size: 1.5rem;
}

/* subpage layout */
#container .in-between {
	display: flex;
	align-items: normal;
	justify-content: flex-start;
	gap: var(--krds-pc-gap-layout-left-contents);
	padding-bottom: var(--krds-pc-gap-layout-contents-footer);
}

#container .in-between .krds-side-navigation {
	width: 29.6rem;
	padding: var(--krds-padding-8) 0 0;
	border-right: 0;
}

#container .in-between > .contents {
	flex: 1;
	width: 100%;
	padding-bottom: 0;
}
#container .in-between > .contents {
		/* padding: 2rem; */
}
.page-title-wrap {
	display: flex;
	align-items: normal;
	justify-content: flex-start;
	flex-direction: column;
	margin-bottom: var(--krds-number-14);
	gap: var(--krds-pc-gap-layout-title-body-large);
}
.page-title-wrap .h-tit {
	font-size: var(--krds-pc-font-size-heading-xlarge);
	letter-spacing: var(--krds-typo-letter-spacing-1);
	font-weight: var(--krds-font-weight-bold);
}
.conts-area {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
	/* gap: 4rem; */
	width: 100%;
}
.conts-area .conts-wrap {
	width: 100%;
}
.krds-in-page-navigation-area {
	padding: 1.4rem 1rem;
	border: .1rem solid #d2d2d2;
	border-radius: 1rem;
	background-color: #fff;
}

/* 
###########
	modal
########### 
*/
/* 글자 화면 설정 */
.adjust_display {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--krds-gap-7);
	padding-top: var(--krds-padding-3);
}
.adjust_display .scale-options {
	min-width: 24rem;
}
.adjust_display .form-group h3 {
	margin-bottom: var(--krds-number-5);
	color: var(--krds-light-color-text-bolder);
	font-size: var(--krds-pc-font-size-heading-xxsmall);
	font-weight: var(--krds-font-weight-bold);
}
.adjust_display .view-mode-options .krds-form-check {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.adjust_display .view-mode-options .krds-form-check::before {
	content: '';
	width: 12rem;
	height: 6.4rem;
	margin-right: var(--krds-number-8);
	border-radius: var(--krds-radius-medium4);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.adjust_display .view-mode-options .krds-form-check.view-mode-light::before {
	background-image: url(../img/common/img_screen_light.png);
}
.adjust_display .view-mode-options .krds-form-check.view-mode-dark::before {
	background-image: url(../img/common/img_screen_dark.png);

}
.adjust_display .view-mode-options .krds-form-check.view-mode-default::before {
	background-image: url(../img/common/img_screen_default.png);
}




/* 임시 kameo */
.krds-in-page-navigation-type .krds-in-page-navigation-area {
	/* display: none; */
}
/* 임시 kameo */


/*
###########
	반응형
########### 
*/
@media (min-width: 1023px) {
	.page-title-wrap[data-type=responsive] .h-tit-drop {
		display: none;
	}
}
@media (max-width: 1023px) {
	#container .in-between .krds-side-navigation {
		display: none;
	}
	.page-title-wrap[data-type=responsive] .h-tit {
		display: none;
	}
	.page-title-wrap .h-tit-drop .drop-btn {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: var(--krds-gap-3);
	}
	.page-title-wrap .h-tit-drop .drop-btn::after {
		content: '';
		display: inline-flex;
		width: var(--krds-size-height-5);
		height: var(--krds-size-height-5);
		background-color: var(--krds-light-color-text-basic);
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: contain;
		-webkit-mask-image: url(../img/component/icon/ico_expand.svg);
		mask-image: url(../img/component/icon/ico_expand.svg);
		transition: 0.4s ease-in-out;
		transform: rotate(90deg);
	}
	.page-title-wrap .h-tit-drop .drop-btn.active::after {
		transform: rotate(-90deg);
	}
	.page-title-wrap .h-tit-drop .drop-menu {
		left: 0;
		width: 100%;
		max-width: 80rem;
		transform: translateX(0);
	}
	.page-title-wrap .h-tit-drop .drop-menu .item-link {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		position: relative;
		height: auto;
		min-height: 4.8rem;
		padding: var(--krds-padding-3) var(--krds-padding-6) var(--krds-padding-3) var(--krds-padding-8);
	}
	.page-title-wrap .h-tit-drop .drop-menu .item-link::before {
		content: '•';
		display: inline-flex;
		flex-shrink: 0;
		position: absolute;
		top: 0;
		left: 1.6rem;
		line-height: 4.7rem;
		margin-top: .1rem;
	}
	.page-title-wrap .h-tit-drop .drop-menu .item-link:hover::before, 
	.page-title-wrap .h-tit-drop .drop-menu .item-link:active::before {
		font-weight: var(--krds-font-weight-regular);
	}
}
@media (max-width: 767px) {
	.page-title-wrap {
		margin-bottom: var(--krds-mobile-gap-layout-h2-h3);
		gap: var(--krds-mobile-gap-layout-title-body-large);
	}
	.page-title-wrap .h-tit {
		font-size: var(--krds-mobile-font-size-heading-xlarge);
		letter-spacing: var(--krds-typo-letter-spacing-1);
	}
	.krds-step-wrap.fixed li {
		max-width: initial;
	}
	/* accordion */
	.krds-accordion.medium .accordion-item .btn-accordion {
		padding: 1.2rem 5.6rem 1.2rem 1.6rem;
	}
	.krds-modal:not([data-type=bottom-sheet]) .modal-dialog .modal-btn {
		padding-bottom: 3.6rem;
 }
	.krds-modal:not([data-type=bottom-sheet]) .modal-dialog.modal-sm .modal-btn {
		padding-bottom: 2rem;
 }
}
/* hide for mobile */
@media (max-width: 420px) {
	.m-hide {
		display: none;
	}
}