@charset "UTF-8";

/* search list */
.search-list-top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: var(--krds-gap-9);
	margin: var(--krds-pc-gap-layout-h2-h3) 0 var(--krds-gap-7);
}
.search-list-top .sch-left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: var(--krds-gap-7);
}
.search-list-top .side-line-ul {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: var(--krds-gap-5) var(--krds-gap-3);
}
.search-list-top .sch-sort {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-shrink: 0;
}
/* .search-list-top .sch-info li,  */
.search-list-top .side-line-ul li, 
.search-list-top .sch-sort li {
	display: flex;
	align-items: center;
	justify-content: flex-start;	
	position: relative;
}
/* .search-list-top .sch-info li:not(:last-child),  */
.search-list-top .side-line-ul li:not(:last-child), 
.search-list-top .sch-sort li:not(:last-child) {
	padding-right: 1.7rem;
}
/* .search-list-top .sch-info li:not(:last-child)::after,  */
.search-list-top .side-line-ul li:not(:last-child)::after, 
.search-list-top .sch-sort li:not(:last-child)::after {
	content: "";
	display: inline-flex;
	position: absolute;
	bottom: .3rem;
	right: .5rem;
	width: .1rem;
	height: 1.6rem;
	background-color: #8a949e;
}
.search-list-top .sch-sort .sort-label {
	margin-right: 1.2rem;
	white-space: nowrap;
}
.search-list-top .sch-sort .w-sort-btn {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: .8rem;
}
.search-list-top .sch-sort .w-sort-btn button {
	color: #1e2124;
	border-radius: .6rem;
	transition: .4s ease-in-out;
}
.search-list-top .sch-sort .w-sort-btn button:hover {
	background-color: #eef2f7;
}
.search-list-top .sch-sort .w-sort-btn button.active {
	text-decoration: underline;
	text-underline-offset: .3rem;
}
.search-list-top .sch-sort .m-sort-btn {
	display: none;
}

/* ########################
		carousel -swiper 
######################## */
.swiper-button-prev {
	left: 0;
}
.swiper-button-next {
	right: 0;	
}
.swiper-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 4rem;
}
.swiper-indicator .swiper-pagination {
	top: auto;
	bottom: auto;
	width: auto;
}
/* main visual banner - sample */
.main-vban-wrap.bg {
	background-color: #d8e4f2;
}
.main-vban-wrap .vb-swiper {
	position: relative;
	padding: 0 10.2rem;
}
.main-vban-wrap .vb-swiper .swiper-slide {
	height: 48.8rem;
}
.main-vban-wrap .vb-swiper .swiper-slide .in {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 6.4rem;
	height: 100%;
	padding-top: 13rem;
	/* background-repeat: no-repeat;
	background-position: center right; */
}
.main-vban-wrap .vb-swiper .swiper-slide .text {
	flex: 1;
	display: flex;
	align-items: flex-start;
	justify-self: flex-start;
	flex-direction: column;
	padding-top: 1.75rem;
	gap: 2.4rem;
	font-weight: 700;
}
.main-vban-wrap .vb-swiper .swiper-slide .text .tit {
	font-size: 3.6rem;
	letter-spacing: .1rem;
}
.main-vban-wrap .vb-swiper .swiper-slide .text .txt {
	font-size: 1.9rem;
	font-weight: 400;
}
.main-vban-wrap .vb-swiper .swiper-slide .text .krds-btn {
	margin-top: 1.6rem;
}
.main-vban-wrap .swiper-pagination, 
.main-vban-wrap [class*=swiper-button-] {
	border: .1rem solid #D7D9DB;
}
.main-vban-wrap .vb-swiper .swiper-indicator {
	padding-bottom: 3.2rem;
}
/* main element swiper - sample */
.main-tit-wrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.main-tit-wrap .tit {
	font-size: 3.2rem;
	letter-spacing: .1rem;
}
.main-box-responsive .in {
	height: 100%;
	padding: 3.2rem;
	border-radius: 1.2rem;
	background-color: #eef2f7;
}
.main-box-responsive.type-wrap .main-tit-wrap + .in {
	height: 36rem;
	margin-top: 2.4rem;
}
.main-sect .main-d-ban-swiper {
	display: flex;
	align-items: normal;
	justify-content: flex-start;
	flex-direction: column;
	position: relative;
	height: 100%;
	text-align: center;
	z-index: 1;
}
.main-sect .main-d-ban-swiper .swiper {
	width: 100%;
	height: 100%;
}
.main-sect .main-d-ban-swiper .swiper-indicator {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}
.main-sect .main-d-ban-swiper .text {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	gap: .8rem;
	margin-bottom: 2rem;
	font-weight: 700;
}
.main-sect .main-d-ban-swiper .text .cate {
	font-size: 1.5rem;
}
.main-sect .main-d-ban-swiper .text .tit {
	font-size: 2.4rem;
}


/* 여백 관련 */
.krds-info-list + .krds-btn {
	margin-top: 2rem;
}
.helper-box + .krds-info-list {
	margin-top: 2.4rem;
}

/* info box - 정보 제공 */
.info-box {
	background-color: #eef2f7;
	padding: 2.4rem;
	border-radius: 1.2rem;
	color: #464C53;
}

/* helper box -  도움말 */
.helper-box {
	--helper-width-border: var(--krds-light-border-width-variable-regular);
	--helper-icon-size: var(--krds-size-height-3);
	width: 100%;
	padding: 2.4rem;
	margin-top: 2rem;
	border: var(--helper-width-border) solid var(--krds-light-color-border-secondary-light);
	border-radius: var(--krds-radius-xlarge2);
	background-color: var(--krds-light-color-surface-secondary-subtler);
	color: var(--krds-light-color-text-subtle);
}
.helper-box .helper-tit,
.helper-box .helper-txt {
	display: flex;
	align-items: flex-start;
	position: relative;
	color: var(--krds-light-color-text-primary);
}
.helper-box .helper-tit {
	font-weight: var(--krds-font-weight-bold);
}
.helper-box .helper-tit::before,
.helper-box .helper-txt::before {
	content: '';
	display: inline-flex;
	flex: 0 0 2rem;
	width: var(--helper-icon-size);
	height: var(--helper-icon-size);
	margin-top: .3rem;
	margin-right: var(--krds-gap-3);
	background: no-repeat url(../img/component/icon/ico_helper_info.svg) center / contain;
}
.helper-box .helper-desc-wrap {
	margin-top: var(--krds-number-7);
	margin-left: var(--krds-number-11);
}
.helper-box .helper-desc-wrap .txt::after {
	content: '';
	display: flex;
	width: 100%;
	margin: 1.2rem 0;
	border-bottom: var(--helper-width-border) dotted var(--krds-light-color-border-gray-dark);
}
.helper-box.bg-light-gray {
	border-color: var(--krds-light-color-border-gray-light);
	background-color: var(--krds-light-color-background-gray-subtler);
}
.helper-box.bg-light-gray .helper-tit,
.helper-box.bg-light-gray .helper-txt {
	color: var(--krds-light-color-text-basic);
}
.helper-box.bg-light-gray .helper-tit::before,
.helper-box.bg-light-gray .helper-txt::before {
	background-image: url(../img/component/icon/ico_helper_info_gray.svg);
}

.txt-box {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	padding: 2.4rem;
	border-radius: 1.2rem;
	background-color: #F4F5F6;
}
.txt-box > .txt-tit {
	font-size: 1.9rem;
	font-weight: 700;
}
.txt-box .info {
	padding: 1.6rem;
	border-radius: .8rem;
	background-color: #fff;
}
/* 하단 담당부서 안내 for team */
.txt-box.team .txt-tit {
	display: flex;
	align-items: center;
	gap: .8rem;
}
.txt-box.team .txt-tit::before {
	content: '';
	display: inline-flex;
	width: 2.4rem;
	height: 2.4rem;
	background: url(../img/component/icon/ico_call.svg) no-repeat center / contain;
}
.txt-box.team .info {
	display: flex;
	gap: 2.4rem;
}
.txt-box.team .info dl {
	display: inline-flex;
	gap: 2rem;
	width: 100%;
}
.txt-box.team .info dl .txt {
	color: #131416;
	font-weight: 700;
}

/* 금융민원 절차 */
.process-list {
	display: inline-flex;
	gap: 5.6rem;
	margin-bottom: 2.4rem;
}
.process-list .item {
	display: flex;
	flex-direction: column;
	position: relative;
	width: calc((100% - 11.2rem)/3);
	padding: 3.2rem;
	border-radius: 1.2rem;
	background-color: #ECF2FE;
}
.process-list .item:not(:last-child)::after {
	content: '';
	display: inline-flex;
	position: absolute;
	top: 0;
	bottom: 0;
	right: -4rem;
	width: 2.4rem;
	height: 2.4rem;
	margin: auto;
	background: url(../img/component/icon/ico_angle.svg);
	transform: rotate(-90deg);
}
.process-list .item .card-header {
	color: #464C53;
	font-size: 1.5rem;
}
.process-list .item .card-header .tit {
	margin-top: .4rem;
	color: #052B57;
	font-size: 2.4rem;
	font-weight: 700;
}
.process-list .item .card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	margin-top: 2rem;
	border-top: 1px solid #D6E0EB;
}
.process-list .item .card-body .txt {
	padding: 2rem 0;
}

/* download list */
.download-list {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 1.6rem;
	width: 100%;
}
.download-list .item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc((100% - 1.6rem) /2 );
	padding: 2rem 2.4rem;
	border: 1px solid #CDD1D5;
	border-radius: 1.2rem;
	color: #131416;
}
.download-list .item .btn {
	display: flex;
	align-items: center;
	gap: 1.6rem;
}
.download-list .item .icon {
	display: inline-flex;
	width: 2.4rem;
	height: 2.4rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.download-list .item .icon.ico-hwp {
	background-image: url(../img/component/icon/ico_hwp.svg);
}
.download-list .item .icon.ico-pdf {
	background-image: url(../img/component/icon/ico_pdf.svg);
}


/* alert new style */
.alerts-message {
	display: flex;
	align-items: normal;
	justify-content: flex-start;
	flex-direction: column;
	gap: var(--krds-gap-3);
	padding: var(--krds-pc-padding-card-xsmall);
	border-width: var(--krds-light-border-width-variable-regular);
	border-style: solid;
	border-radius: var(--krds-radius-xlarge1);
}
.alerts-message .tit {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: var(--krds-pc-font-size-heading-xsmall);
	font-weight: var(--krds-font-weight-bold);
}
.alerts-message .tit::before {
	content: "";
	display: inline-flex;
	width: var(--krds-icon--size-medium);
	height: var(--krds-icon--size-medium);
	/* forced-color-adjust: none; */
	margin: var(--krds-gap-1) var(--krds-number-5) var(--krds-gap-1) var(--krds-gap-1);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.alerts-message.danger {
	border-color: var(--krds-color-light-danger-10);
	background-color: var(--krds-color-light-danger-5);
}
.alerts-message.warning {
	border-color: var(--krds-color-light-warning-10);
	background-color: var(--krds-color-light-warning-5);
}
.alerts-message.ok {
	border-color: var(--krds-color-light-success-10);
	background-color: var(--krds-color-light-success-5);
}
.alerts-message.info {
	border-color: var(--krds-color-light-information-10);
	background-color: var(--krds-color-light-information-5);
}
.alerts-message.danger .tit {
	color: var(--krds-color-light-danger-60);
}
.alerts-message.warning .tit {
	color: var(--krds-color-light-warning-60);
}
.alerts-message.ok .tit {
	color: var(--krds-color-light-success-60);
}
.alerts-message.info .tit {
	color: var(--krds-color-light-information-60);
}
.alerts-message.danger .tit::before {
	background-image: url(../img/component/icon/ico_error_fill.svg);
}
.alerts-message.warning .tit::before {
	background-image: url(../img/component/icon/ico_warning_fill_dark.svg);
}
.alerts-message.ok .tit::before {
	background-image: url(../img/component/icon/ico_success_fill.svg);
}
.alerts-message.info .tit::before {
	background-image: url(../img/component/icon/ico_information_fill.svg);
}
.alerts-message .txt {
	padding-left: var(--krds-padding-9);
}


@media (min-width: 1024px) {
	.inner {
		margin: 0 auto;
	}
}
@media (min-width: 768px) {
	.main-vban-wrap .vb-swiper .swiper-button-prev, 
	.main-vban-wrap .vb-swiper .swiper-button-next {
		width: 6.4rem;
		height: 6.4rem;
		transform: translateY(-50%);
	}
	.main-vban-wrap .vb-swiper .swiper-button-prev::after, 
	.main-vban-wrap .vb-swiper .swiper-button-next::after {
		width: 3.8rem;
		height: 3.8rem;
	}
}
@media (max-width: 1023px) {
	.main-vban-wrap .vb-swiper .swiper-slide .text .tit {
		font-size: 2.4rem;
	}
}
@media (max-width: 767px) {
	.search-list-top .sch-sort .w-sort-btn {
		display: none;
	}
	.search-list-top .sch-sort .m-sort-btn {
		display: flex;
		align-items: center;
	}
}