@charset "UTF-8";
#krds-header {
	position: fixed;
	right: 0;
}
#wrap.scroll-down #krds-header:not(.sample) .header-in {
	transform: initial;
}
#container.main > .section {
	width: 100%;
	height: 100vh;
	/* min-height: 96rem; */
}
#container.main .sec_inner {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	padding-top: 6.4rem;
	padding-bottom: 6.4rem;
}
#container.main .section:not(#section5) .sec_inner {
	padding-left: 16rem;
}
#container.main .section#section3 .sec_inner {
	padding-right: 16rem;
}

#container.main #section1 .sec-inner {
	position: relative;
}
#container.main #section3 {
	background-color: #D8E5FD;
}
#container.main #section5 {
	background-color: #ECF2FE;
}

.main-visual-wrap .inner {
	max-width: 100%;
	height: 100%;
	padding: 0;
}
.main-visual-wrap .vb-swiper {
	height: 100%;
	padding: 0;
}
.main-visual-wrap .vb-swiper .swiper-slide {
	justify-content: flex-start;
	height: 100vh;
	padding-top: 0;
	color: #fff;
}
.main-visual-wrap .vb-swiper .swiper-slide .item {
	display: flex;
	width: 100%;
	height: 100%;
}
.main-visual-wrap .vb-swiper .swiper-slide .text {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	padding: 32rem 0 0 16rem;
	font-size: 2.4rem;
	font-weight: 700;
}
.main-visual-wrap .vb-swiper .swiper-slide .tit span {
	display: block;
	line-height: 130%;
}
.main-visual-wrap .vb-swiper .swiper-slide .tit {
	font-size: 8rem;
}
.main-visual-wrap .vb-swiper .swiper-slide .item.ty1 {
	background: #00000080 url(../../resources/img/main/img_vb_main1.png) no-repeat center;
}
.main-visual-wrap .vb-swiper .swiper-slide .item.ty2 {
	background: #00000080 url(../../resources/img/main/img_vb_main2.png) no-repeat center;
}
.main-visual-wrap .vb-swiper .swiper-slide .item.ty3 {
	background: #00000080 url(../../resources/img/main/img_vb_main3.png) no-repeat center;
}

.main-visual-wrap .main-d-ban-swiper {
	position: absolute;
	bottom: 12rem;
	right: 16rem;
	width: 64rem;
	height: 40rem;
	border-radius: 2.4rem;
	overflow: hidden;
	/* z-index: 1; */
}
.main-visual-wrap .main-d-ban-swiper .swiper-slide .item {
	display: flex;
	/* width: 64rem; */
	height: 40rem;
	padding: 4rem;
	border-radius: 2.4rem;
	color: #fff;
}
.main-visual-wrap .main-d-ban-swiper .swiper-slide .item::after {
	content: '';
	display: inline-flex;
	position: absolute;
	bottom: 0;
	right: 4.8rem;
	width: 16rem;
	height: 16rem;
	background: url(../../resources/img/main/img_vb_icon.png) no-repeat right bottom;
}
.main-visual-wrap .main-d-ban-swiper .item.ty1 {
	background: linear-gradient(90deg, #256EF4, #0B50D0);
}
.main-visual-wrap .main-d-ban-swiper .item.ty2 {
	background: linear-gradient(90deg, #038C8E, #027678);
}
.main-visual-wrap .main-d-ban-swiper .item.ty3 {
	background: linear-gradient(90deg, #7C3AED, #6D28D9);
}
.main-visual-wrap .main-d-ban-swiper .item .cate::after {
	content: '';
	display: inline-flex;
	width: 1.6rem;
	height: 1.6rem;
	margin-left: 1.6rem;
	border-radius: 50%;
	background-color: yellow;
}

.main-visual-wrap .main-d-ban-swiper .item .text {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	font-size: 2.4rem;
}
.main-visual-wrap .main-d-ban-swiper .item .tit {
	font-size: 3.2rem;
	font-weight: 700;
}
.main-visual-wrap .main-d-ban-swiper .swiper-indicator {
	bottom: 6rem;
	left: 4rem;
}

/* reset - siwper indicator for ".main-visual-wrap"  */
.main-visual-wrap .swiper-indicator {
	position: absolute;
	bottom: 12rem;
	left: 4rem;
}
.main-visual-wrap .vb-swiper .swiper-indicator {
	bottom: 4rem;
	left: 16rem;
	/* width: 40rem; */
	z-index: 1;
}
.main-visual-wrap .swiper-indicator .swiper-pagination {
	order: 2;
}
.main-visual-wrap .swiper-indicator .swiper-controller {
	order: 4;
	z-index: 1;
}
.main-visual-wrap .swiper-indicator .swiper-button-prev {
	order: 1;
}
.main-visual-wrap .swiper-indicator .swiper-button-next {
	order: 3;
}
.swiper-indicator .swiper-pagination:not(.swiper-pagination-fraction) {
	height: initial;
	padding: initial;
	border: initial;
	background-color: initial;
}
.main-visual-wrap .swiper-pagination.swiper-pagination-fraction,
.main-visual-wrap [class^=swiper-button-] {
	height: initial;
	border: none;
	background-color: initial;
	color: #fff;
}
.main-visual-wrap [class^=swiper-button-]::after {
	background-color: #ffffff;
}
.main-visual-wrap .swiper-pagination.swiper-pagination-fraction .swiper-pagination-current {
	color: #fff;
}
.main-visual-wrap .swiper-pagination.swiper-pagination-progressbar {
	width: 20rem;
	height: 2px;
	background-color: rgb(255, 255, 255, .5);
}
.main-visual-wrap .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background-color: #fff;
}
.main-visual-wrap .vb-swiper .swiper-indicator .swiper-fraction {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	color: #fff;
	font-size: 1.8rem;
	order: 2;
}
.main-visual-wrap .swiper-fraction span {
	display: inline-flex;
	justify-content: center;
}
.main-visual-wrap .vb-swiper .swiper-fraction .current {
	order: 1;
}
.main-visual-wrap .vb-swiper .swiper-fraction .total {
	order: 3;
}
.main-visual-wrap .vb-swiper .swiper-fraction .swiper-pagination {
	order: 2;
}

/* contents 여백 관련 */
#container.main .main-tit-wrap {
	align-items: flex-start;
	flex-direction: column;
	gap: 2.4rem;
}
#container.main .section#section5 .main-tit-wrap {
	margin-left: 16rem;
}
#container.main .main-tit-wrap .tit {
	font-size: 6.4rem;
	line-height: 130%;
}
#container.main .main-tit-wrap .tit span {
	display: flex;
}
#container.main .main-tit-wrap .desc {
	color: #464C53;
	font-size: 2.4rem;
}
/* tab area */
.main .krds-tab-area.basic {
	align-items: flex-end;
	gap: 10.6rem;
	padding-right: 8.8rem;
	margin-top: -4rem;
}
.main-news-swiper {
	position: relative;
	padding-top: 11.2rem;
}
.main-news-swiper .swiper-indicator {
	position: absolute;
	top: 0;
	right: 0;
}
.main-news-swiper .card-wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	height: 30rem;
	padding: 3.2rem;
	border-radius: var(--radius-main-card-2, 20px);
	background: var(--color-surface-primary-subtler, #EEF2F7);
}
.main-news-swiper .card-wrap .label {
	display: inline-block;
	max-width: 16rem;
	min-height: var(--size-height-6, 4rem);
	padding: .8rem var(--padding-7, 2rem);
	border-radius: 100rem;
	background: var(--color-element-primary, #063A74);
	color: var(--color-text-basic-inverse, #fff);
	font-size: var(--font-size-body-small, 1.5rem);
	font-weight: 700;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.main-news-swiper .card-wrap .tit {
	flex: 1;
	margin-top: 1.6rem;
	color: var(--color-text-basic, #1E2124);
	font-size: var(--font-size-heading-medium-2422, 24px);
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 36px */
	/* overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; */
}
.main-news-swiper .card-wrap .date {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 2.4rem;
	color: var(--color-text-subtle, #464C53);
}
.main-news-swiper .card-wrap .date::after {
	content: '';
	display: inline-flex;
	width: var(--krds-icon--size-medium);
	height: var(--krds-icon--size-medium);
	background-color: gray;
	background: url(../img/component/icon/ico_more.svg) no-repeat center / 2rem auto;
}

/* #section3 */
.main .conts-wrap > * {
	flex: 1;
}
.main .conts-wrap {
	display: flex;
	gap: 19.2rem;
}
.main .conts-wrap .sch-form-wrap {
	margin-top: 12rem;
}
.main .conts-wrap .service-area {
	display: flex;
}
.main .conts-wrap .krds-tag-wrap {
	gap: var(--krds-gap-5);
	margin-top: 4.8rem;
}
.main .conts-wrap .krds-btn-tag {
	gap: .4rem;
	height: 5.6rem;
	padding: 0 2.4rem;
	border: none;
	border-radius: var(--radius-max, 1000px);
	background-color: rgba(236, 242, 254, .9);
	color: #1E2124;
	font-size: 1.9rem;
}
.main .conts-wrap .krds-btn-tag::before {
	content: "#";
	display: inline-flex;
}
.main .service-list {
	display: flex;
	gap: 4.8rem;
	min-height: 63.2rem;
}
.main .service-list .lt {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}
.main .service-list .item {
	max-width: 36rem;
	min-width: 36rem;
	height: 26rem;
	padding: 3.2rem;
	border-radius: 2.4rem;
	background-color: #f2f2f2;
	color: #fff;
	font-size: 1.7rem;
	cursor: pointer;
	transition: all .3s ease-in;
}
.main .service-list .item + .item {
	margin-top: 4.8rem;
}
.main .service-list .item.ty1 {
	background: linear-gradient(107deg, #256EF4, #0B50D0);
}
.main .service-list .item.ty2 {
	background: linear-gradient(107deg, #7C3AED, #6D28D9);
}
.main .service-list .item.ty3 {
	background: linear-gradient(107deg, #038C8E, #027678);
}
.main .service-list .item.ty4 {
	background: linear-gradient(107deg, #1C589C, #063A74);
}
.main .service-list .item .icon {
	display: flex;
	width: 100%;
	height: 9.6rem;
	margin-top: 5.2rem;
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 12rem auto;
	transition: all .3s ease-in;
}
.main .service-list .item:hover .icon {
	margin-top: 1rem;
}
.main .service-list .item.ty1 .icon {
	background-image: url(../img/main/icon_service1.png);
}
.main .service-list .item.ty2 .icon {
	background-image: url(../img/main/icon_service2.png);
}
.main .service-list .item.ty3 .icon {
	background-image: url(../img/main/icon_service3.png);
}
.main .service-list .item.ty4 .icon {
	background-image: url(../img/main/icon_service4.png);
}
.main .service-list .item .tit {
	font-size: 3.2rem;
	font-weight: 700;
}
.main .service-list .item .dir-list {
	display: none;
	flex-direction: column;
	gap: 2.4rem;
}
.main .service-list .item:hover,
.main .service-list .item.active {
	height: auto;
}
.main .service-list .item:hover .dir-list,
.main .service-list .item.active .dir-list {
	display: flex;
	margin-top: 1.6rem;
}
.main .service-list .item .dir-list .link {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main .service-list .item .dir-list .link::after {
	content: '';
	width: var(--krds-icon--size-medium);
	height: var(--krds-icon--size-medium);
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	-webkit-mask-image: url(../img/component/icon/ico_more.svg);
	-webkit-mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-image: url(../img/component/icon/ico_more.svg);
	mask-size: contain;
	background-color: #fff;
}



/* 우측 바로가기 아이콘 */
.quick-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 7.2rem;
	background-color: #063A74;
	z-index: 999;
}

#krds-footer>.inner {
	max-width: 160rem;
}

@media (max-width: 1400px) {
	#container.main > .section {
		height: 100%;
	}
	.conts-wrap {
		flex-direction: column;
	}
}