####		file directory		####

fss-uiux
├─ html // 작업 파일
│ ├─ inc
│ └─ main.html, 
│	    subpage.html ...
├─ ia_guide
│ ├─ css				// ia guide list css
│ ├─ js				// ia_front.js for include html
│ └─ // guide files
├─ krds_sample			// 삭제 예정
│ ├─ krds sample files
├─ resources
│ ├─  css				// style.css, krds.min.css, custom.css
│ 	└─
│ ├─ fonts			// 웹폰트
│ ├─ img			// krds svg 아이콘
│ │    └─**
│ ├─ js	 			// krds js
│ │   └─ **
│ └─ **
└─ index.html


####		layout		####

skip_link
masthead
header
    ㄴmain_menu_pc
    ㄴmain_menu_mobile

main
    ㄴside_navigation
    ㄴcontents
	    ㄴbreadcrumb
	    ㄴtitle

footer



structured_list_table
tts
tts_icon
tts_size

####		css		####

>> krds.min.css
이미지 경로 로컬로 수정해서 사용

>> common.css
; 커스텀 만들기


>> gap size 정리하기


    --krds-number-0: 0rem;
    --krds-number-1: 0.1rem;
    --krds-number-2: 0.2rem;
    --krds-number-3: 0.4rem;
    --krds-number-4: 0.6rem;
    --krds-number-5: 0.8rem;
    --krds-number-6: 1rem;
    --krds-number-7: 1.2rem;
    --krds-number-8: 1.6rem;
    --krds-number-9: 2rem;
    --krds-number-10: 2.4rem;
    --krds-number-11: 2.8rem;
    --krds-number-12: 3.2rem;
    --krds-number-13: 3.6rem;
    --krds-number-14: 4rem;
    --krds-number-15: 4.4rem;
    --krds-number-16: 4.8rem;
    --krds-number-17: 5.6rem;
    --krds-number-18: 6.4rem;
    --krds-number-19: 7.2rem;
    --krds-number-20: 8rem;
    --krds-number-21: 9.6rem;
    --krds-number-max: 100rem;


>> 반응형 krds.min.css

@media (max-width: 1023px) {
    :root {
        --krds-contents-padding-x:16px
    }
}

@media (max-width: 767px) {
    .krds-drop-wrap .drop-menu .drop-list .item-link {
        font-size:var(--krds-dropdown--list-item-mobile-font-size)
    }
}

@media (max-width: 767px) {
    body {
        font-size:var(--krds-mobile-font-size-body-medium)
    }

    .pc-only {
        display: none!important
    }

    .pc-only.read {
        position: absolute!important;
        width: 1px!important;
        height: 1px!important;
        padding: 0!important;
        margin: -1px!important;
        overflow: hidden!important;
        clip: rect(0,0,0,0)!important;
        white-space: nowrap!important;
        border: 0!important
    }

    .mob-line {
        display: block;
        line-height: inherit
    }
}

@media (min-width: 1024px) {
    .inner {
        margin:0 auto
    }
}

@media (min-width: 768px) {
    .mob-only {
        display:none!important
    }

    .mob-only.read {
        position: absolute!important;
        width: 1px!important;
        height: 1px!important;
        padding: 0!important;
        margin: -1px!important;
        overflow: hidden!important;
        clip: rect(0,0,0,0)!important;
        white-space: nowrap!important;
        border: 0!important
    }

    .pc-line {
        display: block;
        line-height: inherit
    }
}

@media (max-width: 420px) {
@media (max-width: 440px)
@media (max-width: 359px) {


>> 반응형 scss 참조
	ㄴ _variables_for_code.scss
	ㄴ _breakpoints.scss


//CONTENTS MAX WIDTH
$contents-size: 1200px !default;
$contents-padding-x-pc: 24px !default;
$contents-padding-x-mobile: 16px !default;
$contents-wrap-size: $contents-size + ($contents-padding-x-pc * 2) !default;

//BREAK POINTS
$breakpoint-small: 360px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 1024px !default;
$breakpoint-xlarge: 1280px !default;
$breakpoint-xxlarge: 1440px !default;
